@import "components/styles/utils/variables";
@import "components/styles/utils/mixins";

.asset-card-featured {
  padding: 15px;
  border-radius: 6px;
  background: black;
  color: white;
  position: relative;
  overflow: hidden;

  .head {
    width: 100%;
    display: flex;
    z-index: 1;
    position: relative;
  }

  .badge {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 4px 10px;
    border-radius: 3px;
    background: $color-brand-black;
    color: white;
    display: inline-block;

    &:not(:last-of-type) {
      margin-right: 10px;
    }
  }

  .more {
    margin-left: auto;
  }

  .badge-blue {
    background: $badge-blue;
  }

  .badge-purple {
    background: $badge-purple;
  }

  .body {
    margin-top: 26px;
    z-index: 1;
    position: relative;

    .top {
      display: flex;
    }

    .icon {
      margin-right: 10px;
      img {
        width: 37px;
        height: auto;
        border-radius: 6px;
      }
    }

    .author {
      font-size: 11px;
      font-weight: 600;
      color: $text-light-gray;
      margin-bottom: -1px;
      letter-spacing: 0.02rem;
    }

    .title {
      font-size: 15px;
      font-weight: 600;
      color: $text-light-white;
    }

    p {
      font-size: 14px;
      font-weight: medium;
      font-family: "DM Sans";
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    position: relative;
    align-items: center;

    button {
      @include asset-featured-button-styles;
    }

    .rating {
      .stars {
        margin-bottom: -5px;
      }

      span {
        font-size: 13px;
        font-family: "DM Sans";
        font-weight: 500;
      }
    }
  }

  @include background-gradient-image(
    ".background",
    ".mask",
    "img",
    #{linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.69) 36.46%,
        rgba(0, 0, 0, 0.88) 54.69%,
        rgba(0, 0, 0, 0.9) 76.56%,
        #000000 100%
      )}
  );
}
