@import "components/styles/utils/variables";
@import "components/styles/utils/mixins";

@mixin head-styles($height: auto) {
  .head {
    width: 100%;
    z-index: 1;
    position: relative;
    height: $height;
  }
}

.asset-card {
  $padding-size: 15px;

  padding: $padding-size;
  border-radius: 6px;
  color: white;
  position: relative;
  overflow: hidden;
  background: $color-brand-white;

  &.featured {
    @include head-styles();
    background: $color-brand-black;

    .body {
      margin-top: 26px;
    }
  }

  &.normal {
    @include head-styles(142px);

    .background {
      margin-left: -$padding-size;
      margin-top: -$padding-size;
      width: calc(100% + ($padding-size * 2));
      height: calc(100% + $padding-size);
    }

    .body {
      margin-top: 15px;
    }
  }

  .badges {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: baseline;
  }

  .badge {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 4px 10px;
    border-radius: 3px;
    background: $color-brand-black;
    color: white;
    display: inline-block;
    margin-right: 10px;
  }

  .more {
    margin-left: auto;
  }

  .badge-blue {
    background: $badge-blue;
  }

  .badge-purple {
    background: $badge-purple;
  }

  .body {
    z-index: 1;
    position: relative;

    .top {
      display: flex;
    }

    .icon {
      margin-right: 10px;
      img {
        width: 37px;
        height: auto;
        border-radius: 6px;
      }
    }

    .author {
      font-size: 11px;
      font-weight: 600;
      color: $text-light-gray;
      margin-bottom: -1px;
      letter-spacing: 0.02rem;
    }

    .title {
      font-size: 15px;
      font-weight: 600;
      color: $text-light-white;
    }

    p {
      font-size: 14px;
      font-weight: medium;
      font-family: "DM Sans";
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    position: relative;
    align-items: center;

    button {
      @include asset-featured-button-styles;
    }

    .rating {
      .stars {
        margin-bottom: -5px;
      }

      span {
        font-size: 13px;
        font-family: "DM Sans";
        font-weight: 500;
      }
    }
  }

  @include background-gradient-image(
    ".background",
    ".mask",
    "img",
    #{linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.69) 36.46%,
        rgba(0, 0, 0, 0.88) 54.69%,
        rgba(0, 0, 0, 0.9) 76.56%,
        #000000 100%
      )}
  );
}
