html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #efefef;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.mouse-link {
  transition: 0.2s;

  &:hover {
    text-decoration: underline;
  }
}

.main {
  section {
    a {
      color: #2081db;
      transition: 0.01s;

      &:hover {
        color: #204f79;
        text-decoration: underline;
      }
    }
  }
}
