@import "components/styles/utils/variables";
@import "components/styles/utils/mixins";

.catalog-grid {
  @include dropdown-styles;
  .results {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;

    @include small-desktop-styles {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include tablet-styles {
      grid-template-columns: 1fr 1fr;
    }

    @include small-mobile-styles {
      grid-template-columns: 1fr;
    }
  }

  .top-bar,
  .bottom-bar {
    display: flex;
    justify-content: space-between;

    &:not(.top-bar) {
      margin-top: 25px;
    }

    &:not(.bottom-bar) {
      margin-bottom: 25px;
    }

    .right {
      display: flex;

      @include tablet-styles {
        .inline-dropdown {
          display: none;
        }
      }
    }

    .inline-dropdown {
      display: flex;
      align-items: center;
    }

    label {
      font-family: "Inter";
      font-weight: 500;
      font-size: 14px;
      color: $text-gray-darker;
    }

    .buttons {
      margin-left: 40px;

      a {
        text-decoration: none;
      }

      button {
        background: $button-gray;
        border-radius: 6px;
        font-family: "Inter";
        font-size: 14px;
        font-weight: 500;
        border: none;
        height: 35px;
        text-align: center;
        width: 80px;
        cursor: pointer;

        &.disabled {
          color: $text-light-darker;
          background-color: $button-very-gray;
          cursor: not-allowed;
        }

        &:not(:last-of-type) {
          margin-right: 10px;
        }
      }
    }
  }
}
