@import "components/styles/partials/asset-card";

.catalog-grid {
  .results {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 20px;
    row-gap: 20px;
  }

  .top-bar,
  .bottom-bar {
    display: flex;
    justify-content: space-between;

    &:not(.top-bar) {
      margin-top: 25px;
    }

    &:not(.bottom-bar) {
      margin-bottom: 25px;
    }

    .right {
      display: flex;
    }

    label {
      font-family: "Inter";
      font-weight: 500;
      font-size: 14px;
      color: $text-gray-darker;
    }

    select {
      border-radius: 6px;
      background: $button-gray;
      font-family: "Poppins";
      font-weight: 600;
      color: $text-dark-black;
      border: none;
      padding: 7px 10px;
      margin-left: 10px;
    }

    .buttons {
      margin-left: 40px;

      button {
        background: $button-gray;
        border-radius: 6px;
        font-family: "Inter";
        font-size: 14px;
        font-weight: 500;
        border: none;
        height: 35px;
        text-align: center;
        width: 80px;

        &.disabled {
          color: $text-light-darker;
          background-color: $button-very-gray;
          cursor: not-allowed;
        }

        &:not(:last-of-type) {
          margin-right: 10px;
        }
      }
    }
  }
}
