@import "components/styles/utils/mixins";
@import "components/styles/utils/variables";

.catalog-filters {
  @include reset-header-spacing;
  @include reset-ul;
  margin-left: 5px;
  margin-top: 6px;

  h2 {
    font-size: 18px;
    font-family: "Inter";
    font-weight: 600;
  }

  hr {
    background: $color-brand-gray;
    height: 2px;
    border: none;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  li {
    margin-bottom: 7px;
  }

  label {
    font-family: "DM Sans";
    font-weight: 400;
    cursor: pointer;

    input {
      margin-right: 7px;
    }
  }
}
