@import "components/styles/utils/variables";
@import "components/styles/utils/mixins";

.category-card {
  @include reset-header-spacing;

  &:hover {
    text-decoration: none !important;
  }

  .container {
    background: $color-brand-gray;
    height: 145px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $text-dark-deep-gray;
  }

  h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 1px;
  }

  span {
    font-size: 15px;
    font-family: "DM Sans";
    font-weight: 500;
  }
}
