@import "components/styles/utils/variables";
@import "components/styles/utils/mixins";

.site-info {
  @include reset-header-spacing;

  margin-top: 75px;
  width: 100%;
  margin-bottom: 20px;

  .contents {
    max-width: $constrained-width;
    margin: auto;
    padding: 0 15px;
  }

  .about {
    margin-bottom: 25px;

    h2 {
      font-family: "Inter";
      font-size: 18px;
      font-weight: 700;
    }

    p {
      margin-top: 7px;
      font-size: 14px;
      color: $text-dark-darker;
      letter-spacing: 0.02em;
    }
  }

  .trust-badges {
    display: flex;
    justify-content: space-between;

    @include tablet-styles {
      flex-direction: column;

      .contents {
        margin: 0;
      }
    }

    .trust-badge {
      display: flex;
      align-items: center;
    }

    .iconify {
      width: 52px;
      height: auto;
      margin-right: 9px;
      margin-top: 7px;

      &.hq {
        width: 57px;
      }
    }

    h2 {
      font-size: 18px;
      margin-bottom: -2px;
    }

    span {
      font-family: "DM Sans";
    }
  }
}

footer {
  @include reset-ul;
  @include reset-header-spacing;
  @include brand-styles($title-color: $text-light-white, $subtitle-color: $text-light-lighter);

  background: $color-brand-black;
  width: 100%;
  color: white;

  h2 {
    font-size: 18px;
    color: $text-light-lightest;
  }

  p,
  li {
    font-weight: 500;
  }

  a {
    transition: 0.04s;
    &:hover {
      color: $text-light-white;
    }
  }

  li {
    color: $text-light-darker;
  }

  p {
    margin-bottom: 9px;
    color: $text-light-lightest;
  }

  .gold {
    color: $color-gold;
  }

  .content {
    padding: 48px 15px 42px 15px;
    display: flex;
    margin: auto;
    max-width: $constrained-width;

    @include tablet-styles {
      flex-direction: column;

      .brand {
        margin-left: 0;
      }
    }
  }

  .column {
    display: flex;
    flex-direction: column;
    max-width: 330px;

    &:not(:last-of-type) {
      margin-right: 75px;

      @include tablet-styles {
        margin-right: 0;
      }
    }

    ul,
    p {
      margin-top: 5px;
    }

    @include tablet-styles {
      max-width: 100%;
    }
  }

  .iconify {
    height: 18px;
    width: auto;
    margin-right: 8px;
  }

  .brand {
    margin-top: 30px;
    margin-left: auto;
  }

  .disclaimer {
    color: $text-light-darker;
    font-family: "DM Sans";
    font-weight: 500;
    margin-top: 5px;
  }

  .links {
    display: flex;
    margin-bottom: 5px;

    .link {
      align-items: center;
      display: flex;

      &:not(:last-of-type) {
        margin-right: 17px;
      }
    }
  }
}
