@import "components/styles/utils/variables";

@mixin _form-shared {
  background: $button-gray;
  color: $text-dark-darker;
  padding: 15px;
  border-radius: 4px;
  border: none;
  width: 100%;
  font-family: "Inter";
  box-sizing: border-box;
  font-size: 14px;
}

@mixin form-input {
  @include _form-shared();
}

@mixin form-textarea {
  @include _form-shared();
  resize: vertical;
}

@mixin form-button {
  background: $button-very-dark;
  border: none;
  color: white;
  border-radius: 3px;
  font-family: "Inter";
  font-weight: 600;
  padding: 12px 27px;
  cursor: pointer;
}

@mixin form-select {
  @include _form-shared();
}

@mixin sneaky-labels {
  .input-container {
    position: relative;

    .placeholder {
      color: $text-dark-darker;
      font-family: Inter;
      left: 17px;
      line-height: 14px;
      pointer-events: none;
      position: absolute;
      transform-origin: 0 50%;
      transition: transform 50ms, color 50ms, font-size 50ms, background 50ms;
      top: 15px;
      border-radius: 3px;
    }

    &:not(:last-of-type) {
      margin-bottom: 15px;
    }

    .input:focus ~ .placeholder,
    .input:not(:placeholder-shown) ~ .placeholder {
      transform: translateY(-22px) translateX(-6px);
      padding: 0px 6px 3px 6px;
      background: #efefef;
      font-size: 12px;
      color: $text-dark-deep-gray;
      border: 1px solid $text-light-gray;
    }

    .input:not(:placeholder-shown) ~ .placeholder {
      color: $text-dark-deep-gray;
    }
  }
}

@mixin disclaimer-styles {
  .disclaimer {
    margin-top: 20px;
    margin-bottom: 20px;

    a {
      color: $text-dark-darkest;
      font-weight: 600;
    }
  }
}

@mixin dropdown-styles($padding: 7px 13px, $background: $button-gray, $border-color: $text-light-gray) {
  .dropdown {
    position: relative;
    border-radius: 6px;
    background: $background;
    font-family: "Poppins";
    font-weight: 600;
    color: $text-dark-black;
    border: 1px solid $border-color;
    margin-left: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;

    .value,
    .iconify {
      padding: $padding;
    }

    .iconify {
      padding-left: 0;
    }

    .value {
      cursor: pointer;
    }

    .options {
      position: absolute;
      width: 100%;
      display: flex;
      flex-direction: column;
      display: none;
      top: calc(100% + 5px);
      background: $background;
      font-weight: 600;
      color: $text-dark-black;
      box-sizing: border-box;
      left: 0;
      border-radius: 6px;
      overflow: hidden;
      box-shadow: $standard-shadow;
      border: 1px solid $border-color;
      z-index: 2;

      a,
      div {
        color: inherit;
        padding: $padding;
        text-decoration: none;

        &:hover {
          background: $text-light-gray;
        }
      }
    }
  }
}
