.page-banner {
  @include reset-header-spacing();

  color: $text-light-white;
  background: black;
  border-radius: 3px;
  padding: 14px 20px 15px;
  position: relative;
  overflow: hidden;
  box-shadow: $standard-shadow;

  .contents {
    z-index: 1;
    position: relative;
    display: inline-block;
    cursor: default;
  }

  .heading {
    font-size: 18px;
    font-weight: 600;
  }

  span {
    display: block;
    margin-top: 2px;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.02rem;
  }

  .block {
    min-width: 380px;
  }

  @include background-gradient-image(
    ".background",
    ".mask",
    "img",
    #{linear-gradient(90deg, #010101 0.09%, rgba(255, 255, 255, 0.7) 42.21%, rgba(255, 255, 255, 0.49) 99.94%)}
  );
}
