.page-message {
  margin-top: 20px;
  position: sticky;
  top: 95px;
  z-index: 5;

  .message {
    padding: 13px 15px;
    border-radius: 3px;
    background-color: white;
    font-family: "Inter";
    color: white;
    background: #3e41f5;
  }
}
