@import "components/styles/layouts/promobar-nav-body-footer";
@import "components/styles/partials/asset-card";
@import "components/styles/partials/forms";
@import "components/styles/utils/mixins";

@include card-rating-styles;

.page-asset {
  @include reset-header-spacing;

  display: grid;
  grid-template-columns: 67% auto;
  column-gap: 50px;
  margin-top: 40px;

  .card {
    @include set-styles(
      $head-height: 120px,
      $background-is-banner: "true",
      $background-color: transparent,
      $body-margin-top: 15px,
      $author-color: $text-light-grayer,
      $title-color: $text-dark-darkest,
      $desc-color: $text-dark-darker,
      $rating-color: $text-gray-dark,
      $cta-dark: "false",
      $padding-bottom-override: 0px
    );

    padding: 0px;

    .banner {
      position: relative;
      height: 130px;
      border-radius: 6px;
      overflow: hidden;
      padding: 15px;
    }

    p {
      font-family: "Roboto";
      color: $text-dark-darker;
    }
  }

  .rating {
    display: flex;
    margin-bottom: 15px;

    span {
      margin-left: 10px;
      font-size: 13px;
      font-family: "DM Sans";
      font-weight: 500;
      color: $text-dark-darkest;
    }
  }

  h2 {
    font-family: "Inter";
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 7px;
  }

  .row {
    color: $text-dark-very-dark;
    font-family: "Inter";
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 13px;
  }

  button {
    @include form-button;
    width: 100%;
    margin-top: 15px;
    border-radius: 6px;
  }

  .quick-info {
    position: sticky;
    top: 95px;
  }

  .tabs {
    @include reset-ul;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    li {
      padding: 0 3px;
      font-family: "Inter";
      font-weight: 600;
      padding-bottom: 2px;
      transition: 0.1s;
      cursor: pointer;
      border-bottom: 2px solid transparent;

      &:hover,
      &.active {
        border-bottom: 2px solid $color-brand-black;
      }
    }
  }

  .media {
    display: grid;
    grid-template-columns: auto 80.5%;
    column-gap: 20px;

    .thumbnails {
      .image {
        padding-top: 56.25%;
        background: $color-brand-gray;
        width: 100%;
        border-radius: 3px;

        &:not(:last-of-type) {
          margin-bottom: 20px;
        }
      }
    }

    .player {
      .container {
        padding-top: 56.25%;
        background: $color-brand-gray;
        width: 100%;
        border-radius: 3px;
      }
    }
  }
}
