@import "components/styles/layouts/promobar-nav-body-footer";
@import "components/styles/partials/asset-card";
@import "components/styles/partials/forms";
@import "components/styles/utils/mixins";
@import "components/styles/partials/modal-report";
@import "components/styles/partials/modal-install";
@import "components/styles/partials/modal-delete";

@include card-rating-styles;

.page-asset {
  @include reset-header-spacing;
  @include sneaky-labels;

  display: grid;
  grid-template-columns: 67% auto;
  column-gap: 50px;
  margin-top: 20px;

  @include mobile-styles {
    display: flex;
    flex-direction: column;
    margin-top: 0;

    .column {
      &:first-of-type {
        order: 1;
      }

      &:last-of-type {
        order: 0;
        margin-bottom: 40px;
      }
    }
  }

  .card {
    @include set-styles(
      $head-height: 120px,
      $background-is-banner: "true",
      $background-color: transparent,
      $body-margin-top: 15px,
      $author-color: $text-light-grayer,
      $title-color: $text-dark-darkest,
      $desc-color: $text-dark-darker,
      $rating-color: $text-gray-dark,
      $cta-dark: "false",
      $padding-bottom-override: 0px
    );

    padding: 0px;

    .banner {
      position: relative;
      height: 130px;
      border-radius: 6px;
      overflow: hidden;
      padding: 15px;
    }

    p {
      font-family: "Roboto";
      color: $text-dark-darker;
    }
  }

  .rating {
    display: flex;
    margin-bottom: 15px;

    span {
      margin-left: 10px;
      font-size: 13px;
      font-family: "DM Sans";
      font-weight: 500;
      color: $text-dark-darkest;
    }
  }

  .details {
    color: $text-dark-darkest;

    .section {
      margin-top: 30px;
      margin-bottom: 30px;

      @include mobile-styles {
        &:first-of-type {
          margin-top: 0px;
        }
      }
    }

    h2 {
      margin-bottom: 10px;
    }

    .header {
      display: flex;
    }

    .rated {
      font-weight: 500;
      color: $text-dark-gray;
      font-size: 12px;
    }

    .username {
      color: $text-dark-deep-gray;
    }

    textarea {
      @include form-textarea;
    }

    input {
      @include form-input;
    }

    .iconify {
      margin-left: auto;
      height: 20px;
      width: auto;
      cursor: pointer;
    }

    p {
      font-family: "DM Sans";
      font-size: 15px;
    }

    .headline {
      font-weight: 600;
      font-family: "Inter";
      font-size: 16px;
    }

    .headline {
      margin-bottom: 4px;
    }

    .review-body {
      margin-top: 4px;
      font-size: 15px;
    }

    .review {
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }

    button {
      width: auto;
    }
  }

  .reviews {
    @include dropdown-styles;
    .username {
      font-weight: 600;
      font-family: Inter;
    }

    .header {
      .rated {
        font-family: "Poppins";
      }
    }

    .dropdown {
      background: transparent;
      border: none;
      margin-left: auto;

      .iconify {
        padding: 0;
      }

      .options {
        right: 0;
        left: auto;
        width: auto;
      }
    }
  }

  .write-review {
    margin-top: 25px;

    [type="radio"] {
      display: none;
      &:checked ~ .label,
      &:hover ~ .label {
        color: black;
      }
    }

    .rating-select {
      display: inline-block;
      margin-bottom: 20px;
      cursor: pointer;
      font-family: "Inter";

      .label {
        color: gray;
        display: flex;
        align-items: center;
      }

      .iconify {
        margin-left: 0;
        margin-right: 5px;
      }

      &:not(:last-of-type) {
        margin-right: 15px;
      }
    }
  }

  h2 {
    font-family: "Inter";
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 3px;
  }

  .row {
    color: $text-dark-very-dark;
    font-family: "Inter";
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 13px;
    cursor: default;
  }

  button {
    @include form-button;
    width: 100%;
    margin-top: 15px;
    border-radius: 6px;
  }

  .quick-info {
    position: sticky;
    top: 95px;
  }

  .tabs {
    @include reset-ul;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    li {
      padding: 0 3px;
      font-family: "Inter";
      font-weight: 600;
      padding-bottom: 2px;
      transition: 0.1s;
      cursor: pointer;
      border-bottom: 2px solid transparent;

      &:hover,
      &.active {
        border-bottom: 2px solid $color-brand-black;
      }
    }
  }

  .badges {
    .iconify {
      margin-left: auto;
      height: 27px;
      width: auto;
    }
  }

  .media {
    display: grid;
    grid-template-columns: auto 80.5%;
    column-gap: 20px;

    @include mobile-styles {
      display: flex;
      flex-direction: column;

      .thumbnails {
        order: 1;
      }

      .player {
        order: 0;
      }
    }

    .thumbnails {
      @include mobile-styles {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top: 10px;
        column-gap: 10px;
      }

      .image {
        padding-top: 56.25%;
        background: $color-brand-gray;
        width: 100%;
        border-radius: 3px;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        &:not(:last-of-type) {
          margin-bottom: 20px;
        }

        @include mobile-styles {
          margin-bottom: 20px;
        }
      }
    }

    .player {
      .container {
        padding-top: 56.25%;
        background: $color-brand-gray;
        width: 100%;
        border-radius: 3px;
        position: relative;
        overflow: hidden;
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
