/** Body / layout **/
$constrained-width: 1555px;
$background: #efefef;

/** Effects **/
$standard-shadow: 0px 17px 80px rgba(0, 0, 0, 0.07), 0px 3.8px 17.9px rgba(0, 0, 0, 0.04),
  0px 1.13px 5.32px rgba(0, 0, 0, 0.028);

/** Text Specific Colors **/
$text-dark-black: #000;
$text-dark-darkest: #060606;
$text-dark-very-dark: #151515;
$text-dark-darker: #222222;
$text-dark-deep-gray: #353535;
$text-dark-gray: #6a6a6a;

$text-light-lightest: #f3f3f3;
$text-light-lighter: #ececec;
$text-light-darker: #acacac;
$text-light-gray: #cacaca;
$text-light-grayer: #9b9b9b;
$text-light-white: #fff;

$text-gray-dark: #585858;
$text-gray-darker: #757575;

/** General Colors **/
$color-brand-black: #000;
$color-brand-white: #fff;
$color-gold: #ffc700;
$color-brand-gray: #dfdfdf;
$color-lighter-gray: #f1f1f1;

/** Badge Colors **/
$badge-blue: #2f69ff;
$badge-purple: #a32fff;

/** Button Colors **/
$button-dark-gray: #474747;
$button-lighter-gray: #f2f2f2;
$button-gray: #e4e4e4;
$button-white: white;
$button-very-gray: #e8e8e8;
$button-very-dark: #0b0b0b;
