@import "components/styles/layouts/promobar-nav-body-footer";
@import "components/styles/utils/mixins";
@import "components/styles/utils/variables";
@import "components/styles/partials/asset-card";
@import "components/styles/partials/forms";
@import "components/styles/partials/catalog-grid";

@include card-rating-styles;

.page-search {
  display: grid;
  grid-template-columns: 17% auto;
  column-gap: 55px;
  margin-top: 25px;

  @include mobile-styles {
    margin-top: 0;
    display: flex;
    flex-direction: column;

    .catalog-grid {
      margin-top: 20px;
    }

    .top-bar,
    .bottom-bar {
      display: flex;
      align-items: end;

      .inline-dropdown {
        display: flex;
        flex-direction: column;
        align-items: baseline;

        .dropdown {
          margin-top: 5px;
          margin-left: 0;
        }
      }

      .buttons {
        margin-left: 0;
      }
    }
  }

  .catalog-filters {
    @include reset-header-spacing;
    @include reset-ul;
    margin-left: 5px;
    margin-top: 6px;

    &:not(:last-child) {
      padding-bottom: 15px;
    }

    .filter {
      border: 1px solid #cacaca;
      border-radius: 3px;
    }

    .accordion-trigger {
      padding: 11px 13px;
      border-radius: 0;
      background: #e4e4e4;
      cursor: pointer;

      .icon-expand {
        display: none;

        @include mobile-styles {
          display: block;
        }
      }

      .icon-close {
        @include mobile-styles {
          display: none;
        }
      }
    }

    .accordion-content {
      display: block;

      @include mobile-styles {
        display: none;
      }
    }

    .options {
      padding: 0px 13px;
    }

    ul {
      margin-top: 0px;
      margin-bottom: 0px;

      li {
        margin-top: 7px;

        &:not(:last-child) {
          margin-bottom: 7px;
        }
      }
    }

    h2 {
      @include inter-like-font();
      font-size: 18px;
      font-weight: 600;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    hr {
      background: $color-brand-gray;
      height: 2px;
      border: none;
      margin-top: 8px;
      margin-bottom: 8px;
    }

    li {
      margin-bottom: 7px;
    }

    label {
      @include inter-like-font();
      font-weight: 400;
      cursor: pointer;

      input {
        margin-right: 7px;
      }

      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}
