@import "components/styles/layouts/promobar-nav-body-footer";
@import "components/styles/utils/mixins";
@import "components/styles/utils/variables";
@import "components/styles/partials/asset-card";
@import "components/styles/partials/forms";
@import "components/styles/partials/catalog-grid";

@include card-rating-styles;

.page-search {
  display: grid;
  grid-template-columns: 17% auto;
  column-gap: 55px;
  margin-top: 25px;

  @include mobile-styles {
    margin-top: 0;
    display: flex;
    flex-direction: column;

    .catalog-grid {
      margin-top: 20px;
    }

    .top-bar,
    .bottom-bar {
      display: flex;
      align-items: end;

      .inline-dropdown {
        display: flex;
        flex-direction: column;
        align-items: baseline;

        .dropdown {
          margin-top: 5px;
          margin-left: 0;
        }
      }

      .buttons {
        margin-left: 0;
      }
    }
  }

  .catalog-filters {
    @include reset-header-spacing;
    @include reset-ul;
    margin-left: 5px;
    margin-top: 6px;

    h2 {
      font-size: 18px;
      font-family: "Inter";
      font-weight: 600;
    }

    hr {
      background: $color-brand-gray;
      height: 2px;
      border: none;
      margin-top: 8px;
      margin-bottom: 8px;
    }

    li {
      margin-bottom: 7px;
    }

    label {
      font-family: "Inter";
      font-weight: 400;
      cursor: pointer;

      input {
        margin-right: 7px;
      }

      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}
