@import "components/styles/utils/variables";
@import "components/styles/utils/mixins";

.category-card-featured {
  @include background-gradient-image(".background", ".mask", "img", #{rgba(0, 0, 0, 0.4)});

  position: relative;
  padding: 14px 20px 20px;
  border-radius: 6px;
  overflow: hidden;
  color: $color-brand-white;
  box-shadow: $standard-shadow;

  .head,
  .body,
  .footer {
    position: relative;
    z-index: 1;
  }

  .head {
    div {
      font-size: 11px;
      font-weight: 600;
      text-transform: uppercase;
      color: $text-light-gray;
      margin-bottom: 5px;
      letter-spacing: 0.02rem;
    }
  }

  .body {
    div {
      display: block;
      font-weight: 600;
      letter-spacing: 0.02em;

      &:not(:last-of-type) {
        margin-bottom: -4px;
      }
    }
  }

  button {
    @include category-featured-button-styles;

    margin-top: 15px;
  }
}
