@import "components/styles/utils/variables";
@import "components/styles/partials/forms";

@include modal-styles;

.modal {
  &.install {
    h2 {
      margin-bottom: 15px;
    }
  }
}

.modal-install {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
  }

  .column {
    border-radius: 6px;
    border: 1px solid #f2f2f2;
    padding: 12px 15px 15px;
  }

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  button {
    margin-top: auto;
    width: 100%;
  }

  p {
    margin-top: 15px;
    font-family: "DM Sans";
    font-size: 15px;
    margin-bottom: 20px;
  }

  .code {
    padding: 4px 9px;
    background: $color-lighter-gray;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 500;
  }
}
