@import "components/layouts/promobar-nav-body-footer/styles";
@import "components/partials/asset-card/styles";
@import "components/utils/forms";
@import "components/utils/mixins";
@import "components/partials/modal-report/styles";
@import "components/partials/modal-install/styles";
@import "components/partials/modal-delete/styles";

@include card-rating-styles;

.page-asset {
  @include reset-header-spacing;
  @include sneaky-labels;
  @include dropdown-styles();

  display: grid;
  grid-template-columns: 67% auto;
  column-gap: 50px;
  margin-top: 20px;

  @include mobile-styles {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .desktop-quick-info {
    @include mobile-styles {
      display: none;
    }
  }

  .mobile-quick-info {
    display: none;

    @include mobile-styles {
      display: block;
    }

    .rating,
    button {
      display: none;
    }

    .card {
      .banner {
        padding: 0px;
        height: auto;
        margin-bottom: 10px;
        overflow: visible;
      }

      .iconify {
        color: $text-dark-darkest !important;
      }

      .background {
        display: none;
      }

      .body {
        margin-top: 0px;
      }
    }
  }

  .card {
    @include set-styles(
      $head-height: 120px,
      $background-is-banner: "true",
      $background-color: transparent,
      $body-margin-top: 15px,
      $author-color: $text-light-grayer,
      $title-color: $text-dark-darkest,
      $desc-color: $text-dark-darker,
      $rating-color: $text-gray-dark,
      $cta-dark: "false",
      $padding-bottom-override: 0px
    );
    border-radius: 0;
    padding: 0px;

    .banner {
      position: relative;
      height: 130px;
      border-radius: 6px;
      overflow: hidden;
      padding: 15px;
    }

    p {
      color: $text-dark-darker;
    }
  }

  .rating {
    display: flex;
    margin-bottom: 15px;

    span {
      margin-left: 10px;
      font-size: 13px;
      font-family: "DM Sans";
      font-weight: 500;
      color: $text-dark-darkest;
    }
  }

  .details {
    color: $text-dark-darkest;

    .section {
      margin-top: 30px;
      margin-bottom: 30px;

      &.docs {
        border: 1px solid #dbdbdb;
        border-radius: 3px;
        margin-top: 20px;
        background: white;
      }

      @include mobile-styles {
        &:first-of-type {
          margin-top: 0px;
        }
      }

      .readme,
      .description {
        @include inter-like-font;
        padding: 10px 15px;
        display: none;
        margin: revert;

        &.active {
          display: block;
        }

        img {
          max-width: 100%;
          display: block;
        }

        pre {
          padding: 16px;
          overflow: auto;
          font-size: 85%;
          line-height: 1.45;
          background-color: #f4f4f4;
          border-radius: 6px;
          word-wrap: normal;
        }

        code {
          padding: 0.2em 0.4em;
          margin: 0;
          background-color: #f4f4f4;
          border-radius: 6px;
        }

        table {
          display: block;
          width: 100%;
          width: max-content;
          max-width: 100%;
          overflow: auto;
          border-spacing: 0;
          border-collapse: collapse;

          tr {
            &:nth-child(2n) {
              background-color: #f4f4f4;
            }
          }

          td,
          th {
            border: 1px solid #e3e3e3;
            padding: 5px 10px;
          }
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          margin: revert;
        }

        h1 {
          &:first-of-type {
            margin-top: 5px;
            font-size: 20px;
          }
        }

        h2 {
          padding-bottom: 5px;
          border-bottom: 1px solid #cacaca;
        }

        p {
          @include inter-like-font;

          code {
            font-size: 90%;
          }
        }
      }
    }

    .inline-dropdown {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #dbdbdb;
      padding: 10px 15px;

      h2 {
        margin-bottom: 0px;
      }
    }

    .header {
      display: flex;
    }

    .rated {
      font-weight: 500;
      color: $text-dark-gray;
      font-size: 12px;
    }

    .username {
      color: $text-dark-deep-gray;
    }

    textarea {
      @include form-textarea;
    }

    input {
      @include form-input;
    }

    .iconify {
      margin-left: auto;
      height: 20px;
      width: auto;
      cursor: pointer;
    }

    p {
      font-family: "DM Sans";
      font-size: 15px;
    }

    .headline {
      @include inter-like-font();
      font-weight: 600;
      font-size: 16px;
    }

    .headline {
      margin-bottom: 4px;
    }

    .review-body {
      margin-top: 4px;
      font-size: 15px;
    }

    .review {
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }

    button {
      width: auto;
    }
  }

  .reviews {
    @include dropdown-styles;
    .username {
      @include inter-like-font();
      font-weight: 600;
    }

    .header {
      .rated {
        @include poppins-like-font;
      }
    }

    .dropdown {
      background: transparent;
      border: none;
      margin-left: auto;

      .iconify {
        padding: 0;
      }

      .options {
        right: 0;
        left: auto;
        width: auto;
      }
    }
  }

  .write-review {
    margin-top: 25px;

    [type="radio"] {
      display: none;
      &:checked ~ .label,
      &:hover ~ .label {
        color: black;
      }
    }

    .rating-select {
      @include inter-like-font();
      display: inline-block;
      margin-bottom: 20px;
      cursor: pointer;

      .label {
        color: gray;
        display: flex;
        align-items: center;
      }

      .iconify {
        margin-left: 0;
        margin-right: 5px;
      }

      &:not(:last-of-type) {
        margin-right: 15px;
      }
    }
  }

  h2 {
    @include inter-like-font();
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 3px;
  }

  .row {
    @include inter-like-font();
    color: $text-dark-very-dark;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 13px;
    cursor: default;
  }

  button {
    @include form-button;
    width: 100%;
    margin-top: 15px;
    border-radius: 6px;
  }

  .quick-info {
    position: sticky;
    top: 95px;
  }

  .tabs {
    @include reset-ul;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    li {
      @include inter-like-font();
      padding: 0 3px;
      font-weight: 600;
      padding-bottom: 2px;
      transition: 0.1s;
      cursor: pointer;
      border-bottom: 2px solid transparent;

      &:hover,
      &.active {
        border-bottom: 2px solid $color-brand-black;
      }
    }
  }

  .badges {
    .iconify {
      margin-left: auto;
      height: 27px;
      width: auto;
    }
  }

  .media {
    &:not(.single-image) {
      display: grid;
      grid-template-columns: auto 80.5%;
      column-gap: 20px;

      @include mobile-styles {
        display: flex;
        flex-direction: column;

        .thumbnails {
          order: 1;
        }

        .player {
          order: 0;
        }
      }
    }

    &.single-image {
      @include mobile-styles {
        margin-bottom: 20px;
      }
    }

    .thumbnails {
      @include mobile-styles {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top: 10px;
        column-gap: 10px;
      }

      .image {
        padding-top: 56.25%;
        background: $color-brand-gray;
        width: 100%;
        border-radius: 3px;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        &:not(:last-of-type) {
          margin-bottom: 20px;
        }

        @include mobile-styles {
          margin-bottom: 20px;
        }
      }
    }

    .player {
      .container {
        padding-top: 56.25%;
        background: $color-brand-gray;
        width: 100%;
        border-radius: 3px;
        position: relative;
        overflow: hidden;
      }
    }

    img,
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
