@import "components/styles/layouts/promobar-nav-body-footer";
@import "components/styles/utils/mixins";
@import "components/styles/utils/variables";
@import "components/styles/partials/forms";
@import "components/styles/partials/catalog-grid";
@import "components/styles/partials/asset-card";
@include card-rating-styles;

.page-dashboard {
  @include reset-header-spacing;
  @include sneaky-labels;
  @include disclaimer-styles;

  margin-top: 20px;
  display: grid;
  column-gap: 60px;
  grid-template-columns: auto 1fr 1fr;

  @include mobile-styles {
    margin-top: 0;
    display: flex;
    flex-direction: column;

    .column {
      &:not(:last-of-type) {
        margin-bottom: 25px;
      }
    }

    .top-bar,
    .bottom-bar {
      display: flex;
      align-items: end;

      .inline-dropdown {
        display: flex;
        flex-direction: column;
        align-items: baseline;

        .dropdown {
          margin-top: 5px;
          margin-left: 0;
        }
      }

      .buttons {
        margin-left: 0;
      }
    }
  }

  &.reviews {
    grid-template-columns: auto 1fr;

    button {
      padding: 0;
      color: $text-dark-black;
    }
  }

  h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  input {
    @include form-input;
  }

  input[type="checkbox"] {
    margin-top: 20px;
    margin-bottom: 0;
    width: auto;
  }

  strong {
    font-weight: 600;
    color: $text-dark-darker;
  }

  button {
    @include form-button;
  }

  textarea {
    @include form-textarea;
  }

  select {
    @include form-select;
  }

  .delete {
    background: red;
  }

  .sidebar {
    .item {
      padding: 15px;
      border: 3px solid $color-brand-gray;
      font-family: "Inter";
      font-weight: 600;
      width: 200px;

      @include mobile-styles {
        width: 100%;
        box-sizing: border-box;
      }

      &:not(:last-of-type) {
        border-bottom: 0;
      }
    }

    a {
      color: inherit;
    }
  }
}
