@import "components/utils/body";
@import "components/partials/nav/styles";
@import "components/partials/footer/styles";
@import "components/partials/page-banner/styles";
@import "components/partials/page-message/styles";

.main {
  width: 100%;
  max-width: $constrained-width;
  margin: 20px auto 0;
  flex-grow: 1;
  display: flex;
  padding: 0 15px;
  box-sizing: border-box;
  flex-direction: column;
}
