/** Body / layout **/
$constrained-width: 1555px;

/** Effects **/
$standard-shadow: 0px 17px 80px rgba(0, 0, 0, 0.07), 0px 3.79717px 17.869px rgba(0, 0, 0, 0.0417275),
  0px 1.13052px 5.32008px rgba(0, 0, 0, 0.0282725);

/** Text Specific Colors **/
$text-dark-darkest: #060606;
$text-dark-darker: #222222;
$text-dark-deep-gray: #353535;
$text-dark-black: #000;

$text-light-lightest: #f3f3f3;
$text-light-lighter: #ececec;
$text-light-darker: #acacac;
$text-light-gray: #cacaca;
$text-light-grayer: #9b9b9b;
$text-light-white: #fff;

$text-gray-dark: #585858;
$text-gray-darker: #757575;

/** General Colors **/
$color-brand-black: #000;
$color-brand-white: #fff;
$color-gold: #ffc700;
$color-brand-gray: #dfdfdf;

/** Badge Colors **/
$badge-blue: #2f69ff;
$badge-purple: #a32fff;

/** Button Colors **/
$button-dark-gray: #474747;
$button-lighter-gray: #f2f2f2;
$button-gray: #e4e4e4;
$button-white: white;
