@import "components/styles/variables";
@import "components/styles/mixins";

footer {
  @include reset-ul;
  @include reset-header-spacing;
  @include brand-styles($title-color: $text-light-white, $subtitle-color: $text-light-lightest);

  margin-top: auto;
  background: $color-brand-black;
  width: 100%;
  color: white;

  h2 {
    font-style: 18px;
  }

  p,
  li {
    font-weight: 600;
  }

  li {
    color: $text-light-darker;
  }

  .gold {
    color: $color-gold;
  }

  .content {
    padding-top: 48px;
    display: flex;
    padding-bottom: 42px;
    margin: auto;
    max-width: $constrained-width;
  }

  .column {
    display: flex;
    flex-direction: column;
    max-width: 330px;

    &:not(:last-of-type) {
      margin-right: 138px;
    }
  }

  .iconify {
    height: 18px;
    width: auto;
    margin-right: 8px;
  }

  .brand {
    margin-top: 30px;
    margin-left: auto;
  }

  .disclaimer {
    color: $text-light-darker;
    font-family: "DM Sans";
    font-weight: 500;
    margin-top: 5px;
  }

  p {
    margin-bottom: 9px;
  }

  .links {
    display: flex;
    margin-bottom: 5px;

    .link {
      align-items: center;
      display: flex;

      &:not(:last-of-type) {
        margin-right: 17px;
      }
    }
  }
}
