@import "components/styles/layouts/promobar-nav-body-footer";
@import "components/styles/utils/mixins";
@import "components/styles/utils/variables";
@import "components/styles/partials/forms";

.page-register {
  @include reset-header-spacing;
  @include sneaky-labels;
  @include disclaimer-styles;

  display: grid;
  grid-template-columns: auto auto;
  column-gap: 80px;
  margin-top: 20px;

  @include mobile-styles {
    display: flex;
    flex-direction: column;
    margin-top: 0;

    &.column {
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }
  }

  h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  p {
    margin-bottom: 3px;
  }

  ul {
    margin-top: 3px;
    margin-bottom: 20px;
  }

  li {
    &:not(:last-of-type) {
      margin-bottom: 3px;
    }
  }

  input {
    @include form-input;

    &:not(:last-of-type) {
      margin-bottom: 15px;
    }
  }

  strong {
    font-weight: 600;
    color: $text-dark-darker;
  }

  button {
    @include form-button;
  }
}
